@import "./styles/day-panel.scss";
@import "./styles/panel.scss";

.g-datepicker {
  display: inline-flex;
  flex-direction: column;
  position: relative;

  .g-input-suffix {
    >svg {
      fill: var(--g-border-color);
    }
  }

  >.g-datepicker-panel-wrapper {
    position: absolute;
    top: calc(100% + 8px);
    left: 0;
    z-index: 10;
    width: 100%;
    background: white;
    box-shadow: 0 6px 16px 0 rgb(0 0 0 / 8%), 0 3px 6px -4px rgb(0 0 0 / 12%),
      0 9px 28px 8px rgb(0 0 0 / 5%);
    border-radius: 8px;
    width: 275px;
  }
}