.g-radio {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  cursor: pointer;
  &-input {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
  }
  &-circle {
    width: 16px;
    height: 16px;
    border: 1px solid #ccc;
    border-radius: 50%;
    position: relative;
    &.active {
      background: #4092ff;
      border: 1px solid #4092ff;
      &::after {
        content: "";
        width: 8px;
        height: 8px;
        background: white;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
  &-text {
    margin-left: 8px;
    font-size: 14px;
    user-select: none;
  }

  &.disabled {
    cursor: not-allowed;
    > input {
      cursor: not-allowed;
    }
    > .g-radio-circle {
      border: 1px solid #c4c4c4;
      cursor: not-allowed;
      &.active {
        background: #c4c4c4;
      }
      &::after {
        background: white;
      }
    }
    > .g-radio-text {
      color: #c4c4c4;
    }
  }
}

.g-radio-group {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  .g-radio + .g-radio {
    margin-left: 8px;
  }
  &-vertical {
    flex-direction: column;
    align-items: flex-start;
    .g-radio + .g-radio {
      margin-left: 0px;
    }
  }
}
