.g-radio {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  cursor: pointer;
  &-input {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
  }
  &-circle {
    width: 16px;
    height: 16px;
    border: 1px solid #ccc;
    border-radius: 50%;
    position: relative;
    &.active {
      background: var(--g-type-primary);
      border: 1px solid var(--g-type-primary);
      &::after {
        content: "";
        width: 8px;
        height: 8px;
        background: white;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
  &-text {
    margin-left: 8px;
    font-size: 14px;
    user-select: none;
  }

  &.disabled {
    cursor: not-allowed;
    > input {
      cursor: not-allowed;
    }
    > .g-radio-circle {
      border: 1px solid var(--g-disabled-color);
      cursor: not-allowed;
      &.active {
        background: var(--g-disabled-color);
      }
      &::after {
        background: white;
      }
    }
    > .g-radio-text {
      color: var(--g-disabled-color);
    }
  }
}

.g-radio-group {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  .g-radio + .g-radio {
    margin-left: 8px;
  }
  &-vertical {
    flex-direction: column;
    align-items: flex-start;
    .g-radio + .g-radio {
      margin-left: 0px;
    }
  }
  > .g-radio-button {
    margin-left: -1px;
    &:first-child {
      border-top-left-radius: var(--g-radius);
      border-bottom-left-radius: var(--g-radius);
    }
    &:last-child {
      border-top-right-radius: var(--g-radius);
      border-bottom-right-radius: var(--g-radius);
    }
  }
}

.g-radio-button {
  cursor: pointer;
  height: var(--g-button-height);
  border: 1px solid var(--g-border-color);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: var(--g-font-color);
  padding: var(--g-middle-button);
  position: relative;
  white-space: nowrap;

  &:hover {
    color: var(--g-type-primary);
    border: 1px solid var(--g-type-primary);
    z-index: 1;
  }

  &.active {
    color: var(--g-type-primary);
    border: 1px solid var(--g-type-primary);
    z-index: 1;
  }
  &.disabled {
    cursor: not-allowed;
    > input {
      cursor: not-allowed;
    }
    border: 1px solid var(--g-disabled-color);
    color: var(--g-disabled-color);
  }
  &.active.disabled {
    color: var(--g-type-primary);
    border: 1px solid var(--g-type-primary);
    z-index: 1;
  }
}
