.g-layout {
  display: flex;
  flex-direction: column;
  &-hasAside {
    flex-direction: row;
    > .g-layout {
      flex-direction: column;
    }
  }
  &-content {
    flex-grow: 1;
  }
  & & {
    flex-grow: 1;
  }
}
