.g-input {
  display: inline-flex;
  font-size: var(--g-font-size);
  align-items: center;
  border: 1px solid var(--g-border-color);
  border-radius: var(--g-radius);
  width: 100%;
  &-focus {
    box-shadow: 0 0 2px var(--g-type-primary);
    border-color: var(--g-type-primary);
  }
  &-hover {
    border-color: var(--g-type-primary);
  }
  &-middle {
    height: var(--g-input-height);
    padding: 4px 11px;
    > .g-input-origin {
      font-size: var(--g-font-size);
    }
    > .g-input-clear {
      width: var(--g-font-size);
      height: var(--g-font-size);
    }
    > .g-input-prefix {
      width: calc(var(--g-font-size) + 2px);
      height: calc(var(--g-font-size) + 2px);
    }
    > .g-input-show-count {
      font-size: var(--g-font-size);
    }
  }
  &-small {
    height: var(--g-input-height-small);
    padding: 0px 7px;
    > .g-input-origin {
      font-size: var(--g-font-size-small);
    }
    > .g-input-clear {
      width: var(--g-font-size-small);
      height: var(--g-font-size-small);
    }
    > .g-input-prefix {
      width: calc(var(--g-font-size-small) + 2px);
      height: calc(var(--g-font-size-small) + 2px);
    }
    > .g-input-show-count {
      font-size: var(--g-font-size-small);
    }
  }

  &-large {
    height: var(--g-input-height-large);
    padding: 7px 14px;
    > .g-input-origin {
      font-size: var(--g-font-size);
    }
    > .g-input-clear {
      width: var(--g-font-size);
      height: var(--g-font-size);
    }
    > .g-input-prefix,
    .g-input-suffix {
      width: calc(var(--g-font-size-large) + 2px);
      height: calc(var(--g-font-size-large) + 2px);
    }
    > .g-input-show-count {
      font-size: var(--g-font-size);
    }
  }

  &-disabled {
    border-color: var(--g-disabled-border-color) !important;
    background: var(--g-input-disabled-color);
    cursor: var(--g-disabled);
    > .g-input-origin {
      background: var(--g-input-disabled-color);
      cursor: var(--g-disabled);
      color: rgba(0, 0, 0.25);
    }
  }
  &-borderless,
  &-borderless.g-input-hover,
  &-borderless.g-input-focus {
    border: none !important;
    box-shadow: none !important;
  }

  &-error {
    border-color: var(--g-type-error);
    caret-color: var(--g-type-error);
    &.g-input-focus {
      box-shadow: 0 0 2px var(--g-type-error);
    }
  }

  &-warning {
    border-color: var(--g-type-warning);
    caret-color: var(--g-type-warning);
    &.g-input-focus {
      box-shadow: 0 0 2px var(--g-type-warning);
    }
  }

  &-rounded {
    border-radius: var(--g-radius-rounded);
  }
  > .g-input-origin {
    outline: none;
    border: none;
    height: 100%;
    color: var(--g-font-color);
    flex-grow: 1;
  }

  > .g-input-clear {
    display: inline-block;
    cursor: pointer;
    margin-left: 4px;
  }

  > .g-input-prefix {
    margin-right: 4px;
  }
  > .g-input-suffix {
    margin-left: 4px;
  }
  > .g-input-prefix,
  .g-input-suffix {
    > svg,
    i,
    img {
      width: 100%;
      height: 100%;
    }
  }
  > .g-input-show-count {
    color: var(--g-border-color);
    margin-left: 4px;
    user-select: none;
  }
}
