.g-tooltip {
    &-trigger {
        display: inline-flex;
    }

    &-content {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border: 1px solid red;
    }
}