.g-tooltip {
    display: inline-flex;

    &-trigger {
        display: inline-flex;
    }

    &-content {
        display: inline-flex;
        position: absolute;
        z-index: 10;

        &-arrow {
            position: absolute;
            border: 8px solid transparent;
            z-index: 10;

            &-top,
            &-topLeft,
            &-topRight {
                left: 50%;
                bottom: 0%;
                transform: translate(-50%, 50%);
                border-top-color: rgba(0, 0, 0, .85);
            }

            &-topLeft {
                left: 24px;
            }

            &-topRight {
                left: calc(100% - 24px);
            }

            &-bottom,
            &-bottomLeft,
            &-bottomRight {
                left: 50%;
                top: 0%;
                transform: translate(-50%, -50%);
                border-bottom-color: rgba(0, 0, 0, .85);
            }

            &-bottomLeft {
                left: 24px;
            }

            &-bottomRight {
                left: calc(100% - 24px);
            }

            &-left,
            &-leftTop,
            &-leftBottom {
                top: 50%;
                right: 0%;
                transform: translate(50%, -50%);
                border-left-color: rgba(0, 0, 0, .85);
            }

            &-leftTop {
                top: 16px;
            }

            &-leftBottom {
                top: calc(100% - 16px);
            }

            &-right,
            &-rightTop,
            &-rightBottom {
                top: 50%;
                left: 0%;
                transform: translate(-50%, -50%);
                border-right-color: rgba(0, 0, 0, .85);
            }

            &-rightTop {
                top: 16px;
            }

            &-rightBottom {
                top: calc(100% - 16px);
            }
        }

        &-inner {
            display: inline-flex;
            align-items: center;
            min-width: 32px;
            min-height: 32px;
            padding: 6px 8px;
            color: #fff;
            text-align: start;
            text-decoration: none;
            word-wrap: break-word;
            background-color: rgba(0, 0, 0, .85);
            border-radius: 6px;
            box-shadow: 0 6px 16px 0 rgb(0 0 0 / 8%), 0 3px 6px -4px rgb(0 0 0 / 12%), 0 9px 28px 8px rgb(0 0 0 / 5%);

            &-top,
            &-topLeft,
            &-topRight {
                transform: translateY(-8px);
            }

            &-bottom,
            &-bottomLeft,
            &-bottomRight {
                transform: translateY(8px);
            }

            &-left,
            &-leftTop,
            &-leftBottom {
                transform: translateX(-8px);
            }

            &-right,
            &-rightTop,
            &-rightBottom {
                transform: translateX(8px);
            }

        }
    }
}